<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
                <layout class="org.apache.log4j.EnhancedPatternLayout">
                        <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:SSS z}] %5p %c{2}: %m%n %throwable{short}" />
                </layout>
        </appender>
        <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
                <appender-ref ref="CONSOLE" />
                <appender-ref ref="FILE" />
        </appender>
        <!-- Change log file location / size / number of backups here -->
        <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
                <param name="File" value="./peregrine.log" />
                <param name="MaxFileSize" value="10MB" />
                <param name="MaxBackupIndex" value="10" />
                <layout class="org.apache.log4j.EnhancedPatternLayout">
                        <param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:SSS z}] %5p %c{2}: %m%n" />
                </layout>
        </appender>
        <logger name="org.erasmusmc">
                <level value="INFO" />
                <appender-ref ref="ASYNC" />
        </logger>
        <root>
                <priority value="WARN" />
                <appender-ref ref="ASYNC" />
        </root>
</log4j:configuration>